<footer>
  <div id="footer">
    <div class="container">

      <div class="callout">
        Frau Kiesling ist über diese Homepage ausschließlich für Lehrtätigkeit erreichbar.<br><br>

        Terminabsprachen für motoskopische Erstbegutachtungen<br>
        und Beratung ausschließlich über folgende Telefonnummern:<br>
        Deutschland: +49 15159204122<br>
        Österreich: +43 06604666888<br>
      </div>

      <hr>

      {{ partial "infomenu" . }}

      <p><small class="text-muted"><br>
        {{ .Site.Title | markdownify }} ist ein eingetragenes Markenzeichen.
        &emsp;&middot;&emsp;
        <a href="/impressum">Impressum</a>
      </small></p>
    </div>
  </div>
</footer>
<div class="footer"></div>

{{ partial "js" . }}
