<footer>
  <div id="footer">
    <div class="container">

      <div class="callout">
        Frau Kiesling ist über diese Homepage ausschließlich für Lehrtätigkeit erreichbar.<br><br>

        <b>Terminabsprachen für Motoskopische Erstbegutachtungen, Beratungen und Intensivtherapie<br>
        in Hamburg und Wien bitte ausschließlich montags und mittwochs in der Früh 7 - 7.45 Uhr</b><br>
        <br>
        For Appointments of motoscopic assessments and consultations<br>
        in Vienna and Hamburg, please call on Monday and Wednesday between 7 AM and 7.45 AM</b><br>
        <br>
        Deutschland / Germany: +49 15159204122<br>
        Österreich / Austria: +43 06604666888<br>
      </div>

      <hr>

      {{ partial "infomenu" . }}

      <p><small class="text-muted"><br>
        {{ .Site.Title | markdownify }} ist ein eingetragenes Markenzeichen.
        &emsp;&middot;&emsp;
        <a href="/impressum">Impressum</a>
      </small></p>
    </div>
  </div>
</footer>
<div class="footer"></div>

{{ partial "js" . }}
